#applicants {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#applicants td,  #applicants th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #applicants tr:nth-child(even){background-color: #f2f2f2;}
  
  #applicants tr:hover {background-color: #ddd;}
  
  #applicants th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }