<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        .container{
            background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
            height: 100vh;
        }
    </style>

</head>
<body>
<div class="container fixed top">
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
   <center><h1>ONLINE RECRUITMENT SYSTEM</h1></center>
    <center><span>APPLY FOR JOB</span></center></br>
   <center><span><a href="{{url_for('signup')}}"><button>Register</button></a></span></center></br>
  <center><span><a href="{{url_for('aspirentlogin')}}"><button>login</button></a></span></center></br>
</div>
</body>
</html>